/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body{
  background-color:#f8f8fa;
}

header{
  background-color:#491bfe;
}

nav{
  display:flex;
  max-width:90%;
  margin:10px auto;
  justify-content:space-between;
  align-items:center;
  padding:10px;
}


.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  max-width:95%;
  margin:0 auto;
}

a{
  margin-right:30px;
  color:#ffffff;
}
svg{
  width:20px;
}

.header-text{
  color:#ffffff;
}

.header-text h2{
  font-size:30px;
}


.header-image{
  max-width:80%;
}

.companies{
  max-width:30%;
  display:flex;
  justify-content:space-around;
}

.companies-items{
  text-decoration:none;
  margin-top:10px;
  color:#000000;
}

.card{
  max-width:250px;
  padding:15px;
}

.active{
  background-color:#ffffff;
}

.cards{
  max-width:95%;
  display:flex;
  justify-content:space-around;
  margin:0 auto;
  flex-wrap:wrap;
}

.blog-heading{
  max-width:80%;
  margin:0 auto;
}

.api{
  max-width:80%;
  margin:0 auto;
}

.blog-cards{
  display:flex;
  max-width:95%;
  margin:0 auto;
  justify-content:space-evenly;
  flex-wrap:wrap;
}

.blog-card{
  display:flex;
  background-color:#ffffff;
  padding:10px;
}

.blog-image{
  margin-right:30px;
}

.image{
  max-width:85%;
}

.blog-content{
  padding:5px;
}

.faq-section{
  display:flex;
  justify-content:space-around;
  background-color:#e9edff;
  max-width:90%;
  margin:0 auto;
  padding:30px;
}

.faq-content{
  padding:20px;
  max-width:40%;
}

.download-section{
  display:flex;
  justify-content:space-around;
  margin-top:20px;
  flex-wrap:wrap;
  padding:20px;
}

.content{
  max-width:40%;
}

.download-email{
  position:relative;
  max-width:40%;
}

.footer-section{
  display:flex;
  background-color:#491bfe;
  justify-content:space-between;
  flex-wrap:wrap;
  padding:30px;
}

.footer-left{
  display:flex;
  flex-direction:column;
}

.footer-right{
  display:flex;
  flex-direction:column;
}

.faq-image{
  max-width:95%;
}

input{
 background-color:#e9edff;
 max-width:100%;
 height:40px;
 border-radius:20px;
 padding:10px;
}

li{
  list-decoration:none;
}

.footer-logo{
  height:50px;
  width:150px;
}

.list{
  display:flex;
  flex-wrap:wrap;
}

.list-items{
  margin-right:20px;
}

.logos-list{
  display:flex;
  flex-wrap:wrap;
}

button{
  background-color:#491bfe;
  color:#ffffff;
  border:2px solid #e9edff;
  padding:5px;
}

.download-email button{
  padding:10px;
  margin-top:25px;
  width:120px;
  border-radius:20px;
}

.social{
  margin-left:50px;
}



@media screen and (max-width:768px){
.footer-section{
  flex-direction:column;
}
.footer-left{
  max-width:100%;
  align-items:center;
}
.footer-right{
  max-width:100%;
  align-items:center;
  margin-left:0px;
}
.blog-cards{
  justify-content:space-between;
}
.header{
  flex-direction:column;
}

.blog-bottom{
  max-width:90%;
}

.header-text{
  max-width:100%;
  order:2;
}
  
}



@media screen and (max-width:552px){
  .blog-card{
    flex-direction:column;
  }
  .blog-cards{
    margin:0 auto;
  }
  .content{
    max-width:90%;
    margin:0 auto;
  }
  .blog-image{
    margin-right:0px;
  }
}